/* Global
color 1: #2196F3;         green
color 2: #2196F3;       blue


#2196F3   cyan
#2196F3   orange
 */




body {
	font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	color: black;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}

#title a {
	color: white;
	font-weight: 400;
}

#title a:hover {
}

.navigation li:hover{
	cursor: pointer;
	text-decoration: underline;
}

.bigtext a {
	color: #2196F3;
}

#slide1 a:hover {
}

#slide4 a {
	color: #2196F3;
}

a {
	color: #black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.navigation a {
	color: white;
}


h3 a {
	color: black;
}



.navigation li{
	color: white;
	float: left;
	padding-right: 50px;
}

.resumelink {
	float: left;
	padding-right: 50px;
	color: black;
}
/************************ Navigation ***************************/

#logo p {
	text-align: left;
	padding-left: 50px;
	font-size: 1.5rem;
	font-weight: 300;
	margin: 24px 0;
	}

#nav-container {
	max-width: 100%;
	width: 100%;
}

nav {
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
}

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color: #2196F3;
	z-index:100;
}

#nav {
	text-align: right;
	margin: 26px 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}


/*.navigation .active{
	cursor:pointer;
	color: #2196F3;
	font-weight:bold;
}*/

/*****************************ABOUT*****************************/

.introduction {
	margin: 0 auto;
	font-size: 2rem;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

#slide1 {
	margin-top: 10%;
	margin-bottom: 14%;
}

a {
	color: #2196F3;
}

#slide1 h2 {
	padding-bottom: 40px;
}

#slide1 .bigtext  {
	padding-bottom: 40px;
}





/********************************PROJECTS****************************/

.projectstitle {
	margin-bottom: 72px;
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(0,0,0,0.12);
}

.project {
	margin-bottom: 40px;
}

.category {
	color: #2196F3;
	padding-bottom: 14px;
}

.projectimage {
	float: left;
	box-shadow: 2px 2px 2px 1px #ccc;
	margin-bottom: 20px;
}

.projectimage:hover {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.unclickableprojectimage {
	float: left;
	box-shadow: 2px 2px 2px 1px #ccc;
	margin-bottom: 20px;
}


/********************************SOCIAL MEDAYA STUFF****************************/

#slide3 {
	margin-top: 6%;
	margin-bottom: 6%;
}


/********************************FOOTAH****************************/

footer {
	margin-bottom: 10px;
}

/**********************************************box page general**************************************************/

box-slide {
	width: 79%;

}


/*******************************stuff that appears on every project page hohoho*****************************************/

#bannerimg {
	max-width: 100%;
	width: 100%;
}


.baloney {
	padding: 30px;
}


#projectslide {
	margin top: 4%;
	margin bottom: 3%;
}


/*Big title*/
h1 {
 color: #2196F3;
 font-size: 3.5rem;
 font-weight: 400;
 margin-top: 50px;
 margin-bottom: 30px;
}



/*Big title*/
h2 {

 color: #2196F3;
 font-size: 2.5rem;
 font-weight: 400;
 margin-top: 50px;
 margin-bottom: 30px;

}

/*small title*/
h3 {
	color: #2196F3;
	 	font-size: 1.4rem;
 	font-weight: 400;

 	margin-bottom: 30px;
}

.margintop {
	margin-top:110px;
}


.project h3 {
	color: black;
}

/*smallest title, colored black*/
h4 {
	 color: black;
	 font-size: 1.6rem;
	 font-weight: 300;
	 margin: 0;
}

h4 a {
	color: black;
}


.bigtext {
	 font-size: 1.3rem;
 	font-weight: 400;
 	line-height: 2.2rem;
 	color: #212121;
}

p {
	font-size: 0.9rem;
	line-height: 1.5rem;
	font-weight: 400;

}

#content li {
	font-size: 0.9rem;
	line-height: 1.5rem;
	font-weight: 400;

}

.viewlink {
	font-size: 0.8rem;
	padding-top: 14px;
}








.bumpdown {
	margin-bottom: 20px;
}



/******************************* General Slides ***********************************/ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:80px 0;
}



/* Slide 1 */ 

#slide1{
	background-color:#ffffff;
}




/* Slide 2 */ 

#slide2{
	background-color: #f6f6f6;
}






/* Slide 3 */ 

#slide3{
	background-color:#ffffff;
}
/*#slide3 h1 {
	font-size: 2em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#test{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}

*/


/* Slide 4 */

#slide4{

	background-color: white;
}
/*#slide4 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
*/
@media screen and (max-width: 650px) {
	#nav {
		display: none;
	}
}


/* Tablet */
@media screen and (max-width: 1024px) {

/*#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	padding:0;
}*/

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
/*	padding:150px 0;*/
}

#decorative {
	display:none;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}




/* Mobile */
@media screen and (max-width: 480px) {

/*#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}*/

.navigation li{
	float: left;
	width:25%;
	display: none;
}

#nav {
	display: none;
}
.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}


}




