/* Global
color 1: #4CAF50;         green
color 2: #00bcd4;       blue


#00BCD4   cyan
#4CAF50   orange
 */




body {
	font-family: 'Source Sans Pro','Open Sans', Helvetica Neue, sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: black;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}

#title a {
	color: #4CAF50;
}

#title a:hover {
}

.navigation li:hover{
	cursor: pointer;
	text-decoration: underline;
}

.introduction a {
	color: #00bcd4;
}

#slide1 a:hover {
}

#slide4 a {
	color: #00bcd4;
}

a {
	color: #black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

li a {
	color: black;
}


h3 a {
	color: black;
}


.navigation li{
	float: left;
	padding:0 30px 0 20px;
}

.what {
	float: left;
	padding:0 30px 0 20px;
	color: black;
}
/************************ Navigation ***************************/

#logo p {
	text-align: left;
	padding-left: 5%;
	font-size: 1.5rem;
	font-weight: 300;
	margin: 18px 0;
	}

#nav-container {
	max-width: 100%;
	width: 100%;
}

nav {
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
}

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#ffffff;
	z-index:100;
}

#nav {
	text-align: right;
	margin: 24px 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}


/*.navigation .active{
	cursor:pointer;
	color: #4CAF50;
	font-weight:bold;
}*/

/*****************************ABOUT*****************************/


.introduction {
	width: 87%;
	margin: 0 auto;
	font-size: 2rem;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.thinner {
	width: 79%;
}

#slide1 {
	margin-top: 15%;
	margin-bottom: 22%;
}

#readthefullstory {
	text-align: center;
	margin-top: 35px;
	font-weight: 200;
	font-size: 1.2rem;
}

#readthefullstory a {
	color: #4CAF50;
}





/********************************PROJECTS****************************/

.projectstitle {
	text-align: center;
	font-weight: 500;
	margin-bottom: 72px;
}

.project {
	margin-bottom: 40px;
}

.project h3{
	text-align: left;
	color: black;
	font-size: 1.6rem;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}
.category {
	font-size: 1rem;
	font-weight: 300;
	color: #4CAF50;
	padding-bottom: 14px;
}

.viewlink {
	font-size: 0.9rem;
	font-weight: 300;
	padding-top: 14px;
}

.viewlink a {

	color: #4CAF50;
}

.description {
	text-align: left;
	font-size: 1rem;
	font-weight: 300;
	color: black;

}

.projectimage {
	float: left;
	box-shadow: 2px 2px 2px 1px #ccc;
}

.projectimage:hover {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.unclickableprojectimage {
	float: left;
	box-shadow: 2px 2px 2px 1px #ccc;
}


/********************************SOCIAL MEDAYA STUFF****************************/

#slide3 {
	margin-top: 5%;
	margin-bottom: 4%;
}


/********************************FOOTAH****************************/

footer {
	text-align: center;
	margin-bottom: 20px;
}

/**********************************************box page general**************************************************/

box-slide {
	width: 79%;

}


/*******************************stuff that appears on every project page hohoho*****************************************/

#bannerimg {
	max-width: 100%;
	width: 100%;
}


.baloney {
	padding: 30px;
}


#projectslide {
	margin top: 4%;
	margin bottom: 3%;
}


.columns {
/*    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;


    -webkit-column-gap: 40px; 
    -moz-column-gap: 40px; 
    column-gap: 40px;*/
	
	padding-left: 30px;
	padding-right: 30px;
}



/******************************* General Slides ***********************************/ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:80px 0;
}



/* Slide 1 */ 

#slide1{
	background-color:#ffffff;
}
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}




/* Slide 2 */ 

#slide2{
	background-color:#f5f5f5;
}

#slide2 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}




/* Slide 3 */ 

#slide3{
	background-color:#ffffff;
}
/*#slide3 h1 {
	font-size: 2em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#test{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}

*/


/* Slide 4 */

#slide4{

	background-color: white;
}
/*#slide4 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
*/




/* Tablet */
@media screen and (max-width: 1024px) {

/*#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	padding:0;
}*/

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
/*	padding:150px 0;*/
}

#decorative {
	display:none;
}

#content {
	/*text-align:center;*/
	width:100%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}




/* Mobile */
@media screen and (max-width: 480px) {

/*#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}*/

.navigation li{
	float: left;
	width:25%;
	display: none;
}

#nav {
	display: none;
}
.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}


}




