<nav>
  <h1>
    <a class="clickable site-title" href="{{ site.baseurl }}/">Kevin<br>Yubin<br>Ma</a>
  </h1>
  <ul>
    {% for page in site.pages %}{% if page.title %}
    <li><a class="clickable" href="{{ page.url }}">{{ page.title }}</a></li>
    {% endif %}{% endfor %}
    <li><a class="clickable" href="http://messybin.tumblr.com">Blog</a></li>
<!-- 
    <li class="spacer"></li>
    {% if site.email %}
    {% endif %}
    <li><a href="mailto:{{ site.email }}">Email</a>
    {% if site.github_username %}
    <li><a href="http://github.com/{{ site.github_username }}">Github</a>
    </li>
    {% endif %}
    
    {% if site.twitter_username %}
    <li><a href="http://twitter.com/{{ site.twitter_username }}">Twitter</a>
    </li>
    {% endif %}
 -->
  </ul>
</nav>
