 body {
    	font-size: 50%;
    	padding: 0;
    	margin: 0;
    	height: 100%;
    	font-family: Helvetica;
    }
    .svg {
    	font-family: Helvetica, sans-serif;
    	font-size: 10px;
	}
	.axis path, .axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}
	.container {
		width: 1200px;
		margin: 0 auto;
		border-left: 1px solid rgba(0,0,0,0.1);
		border-right: 1px solid rgba(0,0,0,0.1);

	}
	h1 {
		font-family: 'Merriweather';
		font-size: 1.6rem;
		font-weight: 400;
		margin: 0;
		padding-left: 10px;
		padding-top: 10px;
	}
.button-group-1 {
	    position: absolute;
    left: 800px;

    top: 170px;
}
.button-group-2 {
	    position: absolute;
    left: 800px;

    top: 270px;
}
.button-group-3 {
	    position: absolute;
    left: 800px;

    top: 370px;
}
.button-row {
    display: flex;
    margin-bottom: 5px;

}
.weather-button-group {
	position: absolute;
    left: 800px;
    top: 70px;
}
.weather-button {
    cursor: pointer;
    width: 75px;
    margin-left: -3px;
    background: white;
    text-align: center;
    margin-top: -4px;
    margin-bottom: -4px;
    background-color: #fff;
    height: 40px;
 	border: 1px solid rgba(127, 125, 156, 0.54);  
    font-weight: 400;
    font-size: 0.7rem;
    padding-top: 10px;
}

.weather-button:hover {
    background-color: #F5F5F5;
}
.button {
    cursor: pointer;
    width: 75px;
    margin-left: -3px;
    background: white;
    text-align: center;
    margin-top: -4px;
    margin-bottom: -4px;
    background-color: #fff;
    height: 40px;
 	border: 1px solid rgba(127, 125, 156, 0.54);  
    font-weight: 400;
    font-size: 0.7rem;
    padding-top: 10px;
}

.button:hover {
    background-color: #F5F5F5;
}
.active {
    background-color: #F5F5F5;
    color: black;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    border-color: #adadad;
}
