
html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
        font-family: 'Source Sans Pro', sans-serif;
      }

h1 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

#text {
  position: absolute;
  padding: 25px;
  width: 25%;
  height: 25%;
  top: 50px;
  right: 50px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px #ccc;

}